html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
}

.Footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  margin: 20px;
  padding: 20px;
  font-size: 1.25em;
  text-align: right;
  text-transform: uppercase;
  color: #cecbcb;
  background-color: #2d2d2d;
}

.Footer .Title {
  font-size: 1.5em;
}
