@import url('https://fonts.googleapis.com/css?family=Ruthie&display=swap');

@mixin theme1 {
  background-color: black;
  color: white;
}

@mixin theme2 {
  background-color: pink;
  color: white;
}

html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  @include theme1;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
}

.Quotes {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(30px + 3vw);
  font-family: 'Ruthie', cursive;
  cursor: pointer;
  word-spacing: 10px;
}

.Footer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  padding: 10px 20px;
  font-size: 0.8em;
  text-align: right;
  text-transform: uppercase;
  color: black;
  background-color: white;
}

.Footer .Title {
  font-size: 1em;
}

.Footer a {
  color: inherit;
  text-decoration: none;
}

#activeQuote {
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.hidden {
  opacity: 0;
}
